body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.3fr;
    gap: 10px;
    padding: 20px;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-radius: 5px;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    margin-bottom: 20px;
}

td {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.x {
    color: #f00;
}

.o {
    color: #00f;
}

.rules {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 640px;
    margin-top: 20px;
}

.rule {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 12px;
}

.rule-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    width: 100px;
    height: 80px;
    margin-bottom: 10px;
}

.rule-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    border: 1px solid #ccc;
    flex: 1 1 auto;
}

a {
    color: #5151ff;
    text-decoration: none;
}

.button {
    display: block;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.evals {
    line-height: 20px;
}

.modal {
    display: none;
    position: fixed;
    top: 40%;
    left: 40%;
    width: 300px;
    height: 200px;
    background-color: white;
    border: 3px solid #ccc;
    justify-content: center;
    align-items: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.close {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    cursor: pointer;
    color: red;
    font-size: 30px;
}
